[Unit]
Description=Menu de Consola Retro en Python
# Espera a que el sistema base y tu video de arranque terminen
After=multi-user.target splash.service
# Evita que la terminal de texto normal pelee por el control de la pantalla o el teclado
Conflicts=getty@tty1.service

[Service]
Type=simple
User=pi
Group=pi
# Le damos control de la terminal 1 para que Pygame pueda dibujar y leer eventos libremente
StandardInput=tty
StandardOutput=tty
TTYPath=/dev/tty1
# Ejecuta tu script
ExecStart=/bin/bash /home/pi/start.sh
# Si el script falla o se cierra por accidente, se vuelve a abrir solo
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
