[Unit]
Description=Intro personalizada de arranque de Consola Retro
After=multi-user.target

[Service]
Type=oneshot
User=pi
Group=pi
StandardInput=tty
StandardOutput=tty
TTYPath=/dev/tty1
ExecStart=/home/pi/boot_intro.sh

[Install]
WantedBy=multi-user.target